$dark_blue : #031926;
$teal : #468189;
$light_seafoam : #77ACA2;
$pastel_blue : #9DBEBB;
$cream_peach : #F4E9CD;

/*****************ELEMENTS********************/
* {
  font-family: 'Roboto', sans-serif;
}
li{
  list-style-type: none;
  float: left;
  font-size: 20px;
  color: white;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

li a:hover:not(.active) {
  color: white;
}
legend {
    font-size: 3em;
    text-align:center;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 30px;
  }

/*****************ID**************************/
#delete_button {
  background-color: red;
  float: right;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 1px;
}
#done_button {
  background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 1px;
}
.hidden {
  display: none;
}
#edit_button {
  background-color: yellow;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 1px;
    margin-right: 2px;
}
#sticky_container {
  background-color: #F7E2AD;
}
#welcome_user {
  color: white;
  font-size: 2em;
  margin: 10px;
}
.sticky{
  font-family: 'Walter Turncoat', cursive;
  #content{
    font-size: 2em;
    margin: 10px;
  }
  #title {
    font-size: 2em;
    margin: 10px;
  }
}
#new-sticky-wrapper {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
}

#card-header > div {
  padding-right: 0 !important;
}
/*****************CLASSES*********************/
.Login {
  padding:20px;
  margin-top:40px;
  height:523px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
}
.Register {
  padding:20px;
  margin-top:40px;
  height:523px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
}


.edit_sticky_container {
  background-color:#F9EED1;
  min-width: 250px;
  max-width: 250px;
  display: inline;
  margin: 22px;
  float: left;
  border-radius: 2px;
}
.titles {
  border-radius: 2px;
  background-color: #F7E2AD; 
  padding: 3px;
  text-align: center; 
  margin: auto;
  font-family: 'Kalam', cursive;
  color: #042133;
}
.content {
  padding: 10px;
  font-family: 'Kalam', cursive;
  min-height: 150px;
  color: #042133;
}

 .input {
  height: 25px;
  font-size: 14pt;
  border-radius: 8px;
  display: block;
  min-width: 250px;
  max-width: 250px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  font-family: 'Rock Salt', cursive;
  
 }
 .login-page{
   text-align:center;
 }
 .submit-button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
 }

span.username {
  font-size: 2em;

}
span.password{
   font-size: 2em;

}

.add_sticky_button {
 color: white;
}




.Logout{
  margin: 10px;
  font-size: 5em;
  p{
     text-align: center;

  }
}