$dark_blue : #031926;
$teal : #468189;
$light_seafoam : #77ACA2;
$pastel_blue : #9DBEBB;
$cream_peach : #F4E9CD;
*{
  color: $dark_blue;
  background-color: $light_seafoam;
   #app {
    
    } 
}

.login {
    color: $dark_blue;
   background-color: $teal;
}