$dark_blue : #031926;
$teal : #468189;
$light_seafoam : #77ACA2;
$pastel_blue : #9DBEBB;
$cream_peach : #F4E9CD;
*{
  color: $dark_blue;
  #app {
    
    } 
}

.login {
    color: $dark_blue;
  background-color: $teal;
}



body {
  background-color: #E0FFF9;
}
#navbar {
  background-color: white;
  text-align: left;
  padding: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  background-image: url("http://i.imgur.com/6UEHZzS.png");
  background-repeat: no-repeat;
  background-position: center;
}


.sticky_container {
  background-color:#F9EED1;
  margin: 1em;
  position: relative;
  border-radius: 2px;
  box-shadow: 3px 8px 5px #888888;
}
.titles {
  border-radius: 2px;
  background-color: #F7E2AD; 
  padding: 3px;
  text-align: center; 
  margin: auto;
  font-family: 'Kalam', cursive;
}
.content {
  padding: 10px;
  font-family: 'Kalam', cursive;
  text-align: center;
  background-color:#F9EED1;
  min-height: 250px;
}
.container {
  float: left;
  padding: 1em;
  margin: 1em;
  min-width: 350px;
  max-width: 350px;
}
li {
  background-color: white;
  text-align: right;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  list-style-type: none;
}
form{
  background-color: $teal;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 50%;
  text-align: center;
}
legend{
  text-align: center;
  margin: 2em;
  padding: 2em;
}
span{
  text-align: center;
  margin: 2em;
  padding: 2em;
}

form input {
  
}